article {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 350px;
  line-height: 1.5rem;

  & header {
    border-bottom: 1px solid var(--border-color);
    padding: var(--space);

    & a {
      text-decoration: none;
    }
  }

  & main {
    padding: var(--space);
    width: inherit;
    & img {
      width: inherit;
    }
  }

  & footer {
    border-top: 1px solid var(--border-color);
    & ul {
      padding: 0;
      list-style: none;
    }
  }
}

article:has(img){
  & main{
    padding: 0;
  }
}
article:has(header):has(footer) img {
  border-radius: 0;
  width: 100%; 
  height: auto; 
  object-fit: cover;
  display: block;
}
article:has(footer) img {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  width: 100%; 
  height: auto; 
  object-fit: cover;
  display: block;
}
article:has(header) img {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  width: 100%; 
  height: auto; 
  object-fit: cover;
  display: block;
}
article:not(:has(header)):not(:has(footer)) img {
  border-radius: var(--border-radius);
  width: 100%; 
  height: auto; 
  object-fit: cover;
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

body {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: var(--space)
}

footer ul {
  display: flex;
  justify-content: space-around;
  font-size: 0.8em;
}


