:root {
  --border-color: #a0a0a0;
  --border-radius: 0.25rem;
  --space: 1rem;
  --primary-color: #1677ff;
  --dark-primary-color: #003eb3;
}

body {
  overflow: hidden;
  color: black;
  display: grid;
}
/*Sidebar*/
body > section{
  
  padding-left: 0.5em;
  padding-right: 1em;
  border-right: 1px solid var(--border-color);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  & ul {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
    justify-content: flex-start;
    

    & li > a {
      color: #999;
      font-size: 14px;
      text-decoration: none;
    }
    & li > a:hover {
      color: black;
    }
  }
}
/*Header*/
body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  grid-column-start: 2;
  grid-column-end: 3;
  padding: var(--space);
  & h1 {
    font-size: 1.75rem;
    margin: 0;
    flex-grow: 1;
  }
  
  & .userIcons {
    display: flex;
    gap: 0.8em;
  }
}
/*Container for Articles*/
body > main {
  padding: var(--space);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-area: main;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--space) 
}
/*Footer*/
body > footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  border-top: 1px solid var(--border-color);
  background-color: #f0f0f0;
  padding: 0.5em;
  text-align: center;
}


